@{
    ViewBag.Title = "remplir";

}


<h2>remplir</h2>


<!DOCTYPE html>

<html>
<head>
    <title>Reading Data from a File</title>
</head>
<body>
    <div>
        <h1>Reading Data from a File</h1>
        @ViewBag.Message1





    </div>
    @ViewBag.Message2
</body>
</html>